<footer class="footer">

    <div class="footer-container">

        <!-- Social Icons -->

        <div class="footer-socials">

            <a href="https://github.com/pawangupta0125" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=pawangupta979237@gmail.com"
   target="_blank">
    <i class="fa-solid fa-envelope"></i>
</a>

        </div>

        <!-- Copyright -->

        <div class="footer-brand">

            © <%= new Date().getFullYear() %> Wonderlust Private Limited

        </div>

        <!-- Links -->

        <div class="footer-links">

            <a href="/privacy">Privacy</a>

            <span>|</span>

            <a href="/terms">Terms</a>

        </div>

        <!-- Developer -->

        <div class="footer-developer">

            Made with
            <i class="fa-solid fa-heart"></i>
            by
            <strong>Pawan Gupta</strong>

        </div>

    </div>

</footer>