<%- layout("/layouts/boilerplate") %>

<div class="row mt-5">
    <div class="col-8 offset-2">

        <div class="alert alert-danger">

            <h4>Error!</h4>

            <p><%= err.message %></p>

        </div>

    </div>
</div>